In [1]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
dataset=pd.read_csv("Social_Network_Ads.csv") 
print("dataset available")
df = pd.DataFrame(dataset)
num_rows = len(df.index)
num_columns = len(df.columns)
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

dataset available
Number of rows: 400
Number of columns: 5

In [2]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#dataset=dataset.replace({True:1,False:0})
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [6]:
independent=dataset[['User ID','Age','EstimatedSalary','Gender_Male']]
dependent=dataset[['Purchased']]

In [7]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [8]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [11]:
#dataset=dataset.drop("User ID",axis=1)
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [17]:
from sklearn.model_selection import train_test_split 
x_train2,x_test2,y_train2,y_test2 = train_test_split(independent,dependent, test_size=0.25,random_state=0)

In [18]:
from sklearn.tree import DecisionTreeClassifier as DTC
#classifier=SVC(kernel="linear") 
#classifier=SVC(kernel="rbf")
#classifier = SVC(kernel="linear",C=5000) 
#classifier=SVC(kernel="poly",C=5000) 
#classifier=SVCSVC(kernel="sigmoid",C=5000)
classifier = DTC(criterion = 'entropy', random_state = 0)

classifier.fit(x_train2,y_train2)
print("Model Created")

Model Created

In [20]:
y_pred2 = classifier.predict(x_test2)

In [21]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test2,y_pred2) 
print("The result for Decision Tree Classifier is:", cm)

The result for Decision Tree Classifier is: [[64  4]
 [ 5 27]]

In [22]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test2,y_pred2)

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.93      0.94      0.93        68
           1       0.87      0.84      0.86        32

    accuracy                           0.91       100
   macro avg       0.90      0.89      0.90       100
weighted avg       0.91      0.91      0.91       100