In [20]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
dataset=pd.read_csv("Social_Network_Ads.csv") 
print("dataset available")
df = pd.DataFrame(dataset)
num_rows = len(df.index)
num_columns = len(df.columns)
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

dataset available
Number of rows: 400
Number of columns: 5

In [21]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [28]:
#dataset=pd.get_dummies(dataset,drop_first=True)
dataset=dataset.replace({True:1,False:0})

C:\Users\USER\AppData\Local\Temp\ipykernel_11528\4243509445.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataset=dataset.replace({True:1,False:0})

In [29]:
dataset.columns

Index(['User ID', 'Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [30]:
independent=dataset[['User ID','Age','EstimatedSalary','Gender_Male']]
dependent=dataset[['Purchased']]

In [31]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [36]:
from sklearn.model_selection import train_test_split 
x_train1,x_test1,y_train1,y_test1 = train_test_split(independent,dependent, test_size=0.25,random_state=0)

In [32]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [37]:
from sklearn.svm import SVC
#classifier=SVC(kernel="linear") 
#classifier=SVC(kernel="rbf")

#classifier = SVC(kernel="linear",C=5000) 
#classifier=SVC(kernel="poly",C=5000) 
#classifier=SVCSVC(kernel="sigmoid",C=5000)
classifier = SVC(kernel="rbf",C=5000)

classifier.fit(x_train1,y_train1)
print("Model Created")

Model Created

C:\Anaconda\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
y_pred1 = classifier.predict(x_test1)

In [40]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test1,y_pred1) 
print("The result for SVM is:", cm)

The result for SVM is: [[66  2]
 [19 13]]

In [41]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test1,y_pred1)

In [42]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.78      0.97      0.86        68
           1       0.87      0.41      0.55        32

    accuracy                           0.79       100
   macro avg       0.82      0.69      0.71       100
weighted avg       0.81      0.79      0.76       100